@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main class="main">
        <div class="top-row px-4">
            <LoginDisplay />
        </div>

        <div class="content px-4">
            @Body
        </div>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    Ein Fehler ist aufgetreten.
    <a href="." class="reload">Neu laden</a>
    <span class="dismiss">🗙</span>
</div>
