@using Microsoft.AspNetCore.Components.Routing

<div class="sidebar">
    <div class="top-row ps-3">
        <a class="navbar-brand" href="">FilmDB</a>
    </div>

    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <i class="bi bi-house-door"></i> Startseite
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="gesehen">
                <i class="bi bi-collection-play"></i> Gesehen
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="film-hinzufuegen">
                <i class="bi bi-plus-circle"></i> Film hinzufügen
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="sender">
                <i class="bi bi-tv"></i> Sender verwalten
            </NavLink>
        </div>
    </nav>
</div>

